__pycache__
*.ckpt
.vscode
models

**/test*

**/top_k_1.png
**/top_k_2.png
**/top_k_3.png
**/top_k_4.png
**/top_k_5.png
**/top_k_6.png
**/top_k_7.png
**/top_k_8.png
**/top_k_9.png
**/top_k_10.png
**/top_k_11.png
**/top_k_12.png
**/top_k_13.png
**/top_k_14.png
**/top_k_15.png
**/top_k_16.png
**/top_k_17.png
**/top_k_18.png
**/top_k_19.png
**/top_k_20.png
**/top_k_21.png
**/top_k_22.png
**/top_k_23.png
**/top_k_24.png
**/top_k_25.png
**/top_k_26.png
**/top_k_27.png
**/top_k_28.png
**/top_k_29.png
**/top_k_30.png
**/top_k_31.png
**/top_k_32.png
**/top_k_33.png
**/top_k_34.png
**/top_k_35.png
**/top_k_36.png
**/top_k_37.png
**/top_k_38.png
**/top_k_39.png
**/top_k_40.png

**/1.png
**/2.png
**/3.png
**/4.png
**/5.png
**/6.png
**/7.png
**/8.png
**/9.png
**/10.png
**/11.png
**/12.png
**/13.png
**/14.png
**/15.png
**/16.png
**/17.png
**/18.png
**/19.png
**/20.png
**/21.png
**/22.png
**/23.png
**/24.png
**/25.png
**/26.png
**/27.png
**/28.png
**/29.png
**/30.png
**/31.png
**/32.png
**/33.png
**/34.png
**/35.png
**/36.png
**/37.png
**/38.png
**/39.png
**/40.png
